<h1>Listing articles</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Created by</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.title %></td>
        <td><%= article.created_by %></td>
        <td><%= link_to 'Show', article %></td>
        <% if can? :update, article %>
          <td><%= link_to 'Edit', edit_article_path(article) %></td>
        <% end %>
        <% if can? :update, article %>
          <td><%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Article', new_article_path %>
<%= link_to 'logout', destroy_user_session_path, method: :delete %>
